@model I_9Form.ViewModels.EmployeeViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h3>Enter your Data!!</h3>
    <p>
        Employee Information and Attestation.
    </p>
    <hr />

    <form id="test" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model != null)
        {
            <input asp-for="EmployeeID" type="hidden" class="form-control" />

        }
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="OtherLastNameUsed" class="control-label"></label>
                <input asp-for="OtherLastNameUsed" class="form-control" />
                <span asp-validation-for="OtherLastNameUsed" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="AddressLabel" class="control-label"></label>
                <input asp-for="AddressLabel" class="form-control" />
                <span asp-validation-for="AddressLabel" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ApptNumber" class="control-label"></label>
                <input asp-for="ApptNumber" class="form-control" />
                <span asp-validation-for="ApptNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="CityOrTown" class="control-label"></label>
                <input asp-for="CityOrTown" class="form-control" />
                <span asp-validation-for="CityOrTown" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Cstate" class="control-label"></label>
                <select asp-for="Cstate" asp-items="Html.GetEnumSelectList<USState>()" class="form-control">
                    <option value=""> Select US State </option>
                </select>
                <span asp-validation-for="Cstate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="USSNumber" class="control-label"></label>
                <input asp-for="USSNumber" class="form-control" />
                <span asp-validation-for="USSNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="submit" asp-action="Index" value="Back To List" class="btn btn-sm btn-success" />
                <a href="javascript:;" title="Next Page" class="btn btn-sm btn-primary Next">NEXT</a>
            </div>
        </div>

    </form>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
$('.Next').on("click", function () {
    var form = $('#test');
    $.validator.unobtrusive.parse(form);
    //window.location.href = "@Url.Action("OtherDetails", "Employee")";
    if (form.valid()) {
    @*$('.body-content').html('');
        $('.body-content').load("@Url.Action("ListPastNames", "Employee")");*@
    window.location.href = "@Url.Action("OtherDetails", "Employee")";
    }
    });
    </script>
}